services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb

    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    depends_on: 
      - mariadb
    networks:
      - inception
    restart: unless-stopped
    
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
      - ./requirements/nginx/conf:/etc/nginx/conf.d
    depends_on:
      - wordpress
    networks:
      - inception
    restart: unless-stopped
  
  redis:
    build:
      context: ./requirements/bonus/redis
      dockerfile: Dockerfile
    container_name: redis
    volumes:
      - redis_data:/data
    networks:
      - inception
    restart: unless-stopped

  adminer:
    build:
      context: ./requirements/bonus/adminer
      dockerfile: Dockerfile
    container_name: adminer
    ports:
      - "8081:8080"
    networks:
      - inception
    depends_on:
      - mariadb
    restart: unless-stopped

  site:
    build:
      context: ./requirements/bonus/site
      dockerfile: Dockerfile
    container_name: site
    ports:
      - "8080:443"
    networks:
      - inception
    restart: unless-stopped

  # ftp:
  #   build:
  #     context: ./requirements/bonus/ftp
  #     dockerfile: Dockerfile
  #   container_name: ftp
  #   env_file: .env
  #   ports:
  #     - "21:21" #Port Ftp principale
  #     - "21000-21100:21000-21100" #ports passif
  #   volumes:
  #     - wordpress_data:/var/www/html
  #   networks:
  #     - inception
  #   restart: unless-stopped

  cadvisor:
      build:
        context: ./requirements/bonus/cadvisor
        dockerfile: Dockerfile
      container_name: cadvisor
      ports:
        - "8082:8080"
      volumes:
        - /:/rootfs:ro
        - /var/run:/var/run:ro
        - /sys:/sys:ro
        - /var/lib/docker/:/var/lib/docker:ro
        - /dev/disk/:/dev/disk:ro
      privileged: true
      networks:
        - inception
      restart: unless-stopped

networks:
  inception:
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ertrigna/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ertrigna/data/mariadb
  redis_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ertrigna/data/redis